{% extends "app/layout.html" %}
{% load poll_extras %}
{% block content %}
<br></br>
 <h2>Attendance Table</h2> 
  <table class="table table-hover" style="margin-left: -38px">
    <thead>
    {% for i in qrid %}
    <tr>
      <th>{{i.created_at|date:"DATE_FORMAT"}}</th>
      {% for j in do %}
        {% if i.created_at == j.created_at %}
          <th>P</th>
        {% endif %}
      {% endfor %}
    </tr>
    {% endfor %}
    
      <!-- <tr>
        {% for i in "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx" %}
        <th>{{ forloop.counter0|add:1 }}</th>
        {% endfor %}
      </tr>
      <tr> 
          {% for j in "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"  %}
          <td>P</td>
          {% endfor %}
        </tr> -->
    </thead>
  </table>
{% endblock %}
